<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>

    <div th:insert="components :: meta-links"></div>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <title>PizzaPizza ADMIN</title>

</head>

<body>

<div th:insert="components :: navbar"></div>

<h1>Admin Page</h1>


<div class="row">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-toppings-tab" data-toggle="pill" href="#v-pills-toppings"
               role="tab" aria-controls="v-pills-toppings" aria-selected="true">Toppings</a>

            <a class="nav-link" id="v-pills-customer-tab" data-toggle="pill" href="#v-pills-customer"
               role="tab" aria-controls="v-pills-customer" aria-selected="false">Customer List</a>

            <a class="nav-link" id="v-pills-sales-tab" data-toggle="pill" href="#v-pills-sales"
               role="tab" aria-controls="v-pills-sales" aria-selected="false">Total Sales</a>

        </div>
    </div>
    <div class="col-10">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-toppings" role="tabpanel"
                 aria-labelledby="v-pills-toppings-tab">

                <div class="card-columns">
                        <div class="card bg-primary p-3">
                            <h4>List top 3 toppings</h4>
                            <div th:each="topping : ${toptoppings}">
                                <p th:text="${topping.name}"></p>
                            </div>
                        </div>

                        <div class="card bg-primary p-3">
                            <h4>Add New Topping</h4>
                            <form action="#" th:action="@{/addtopping}" th:object="${newtopping}" method="post">
                                <input type="text" placeholder="Type topping here" th:field="*{name}"
                                       th:value="topping"/>
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                            </form>
                        </div>

                        <div class="card bg-secondary p-3 text-center">
                            <table>
                                <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">Topping</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Toggle Status</th>
                                </tr>
                                </thead>
                                <tbody id="topping_table">
                                <tr th:each="topping : ${alltoppings}">
                                    <td th:text="${topping.id}"></td>
                                    <td th:text="${topping.name}"></td>
                                    <td th:text="${topping.enabledForUser}? 'Available' : 'Unavailable'"></td>
                                    <td>
                                        <a th:href="@{/update/{id}(id=${topping.id})}">Update</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>

            <!---- CUSTOMER LIST ---->
            <div class="tab-pane fade mx-auto p-3 w-75" id="v-pills-customer" role="tabpanel"
                 aria-labelledby="v-pills-customer-tab">

                <h2>Find user</h2>
                <input class="form-control" id="myInput" type="text" placeholder="Search">
                <div class="card-body bg-secondary">
                    <table>
                        <thead>
                        <tr>
                            <th scope="col" class="p-3">First Name</th>
                            <th scope="col" class="p-3">Last Name</th>
                            <th scope="col" class="p-3">Email</th>
                        </tr>
                        </thead>
                        <tbody id="usertable">
                        <tr th:each="user : ${allusers}">
                            <td th:text="${user.firstName}" class="p-3"></td>
                            <td th:text="${user.lastName}" class="p-3"></td>
                            <td th:text="${user.username}" class="p-3"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- TOTAL SALES  -->
            <div class="tab-pane fade" id="v-pills-sales" role="tabpanel" aria-labelledby="v-pills-sales-tab">
                <div class="card bg-secondary p-3 w-75">
                    <div class="card-body">
                        <h5>List total sales</h5>
                        <div th:text="${totalsales}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---- SEARCH FUNCTION ---->
<script>
    $(document).ready(function(){
        $("#myInput").on("keyup",function () {
            var value= $(this).val().toLowerCase();
            $("#usertable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value)>-1)
            });
        });
    });
</script>

<div th:insert="components :: scripts"></div>

</body>
</html>