<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="components :: meta-links"></div>
    <title>PizzaPizza Menu</title>
</head>

<body>
<div th:insert="components :: navbar"></div>

<h2>Specialty Pizzas</h2>

<div th:each="pizza : ${specialtypizzas}">
    <p th:text="${pizza.name}"></p>
    <p th:each="topping : ${pizza.toppings}">
        <span th:inline="text">[[${topping.name}]]</span>
    </p>
</div>

<div th:insert="components :: scripts"></div>

<div th:insert="components :: scripts"></div>
</body>
</html>