<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="components :: meta-links"></div>
    <style th:inline="text">
        body {
            background: url([[@{https://images.pexels.com/photos/315755/pexels-photo-315755.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260}]])
            no-repeat center center fixed !important;
            background-size: cover !important;
            height: 100% !important;
        }
    </style>
    <title>PizzaPizza Menu</title>

</head>

<body class="pizza">
<div th:insert="components :: navbar"></div>

<h2 class="text-center bg-success">Specialty Pizzas</h2>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card h-100" style="width: 18rem;">
                <img class="card-img-top vh-25" src="https://media.nbcsandiego.com/2019/09/Pieology-Pizzeria-FB.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Custom Pizza</h5>
                    <p class="card-text">Mix and match any available toppings of your choice.</p>
                    <br/><br/><br/>
                    <a th:href="@{/order}" class="btn btn-success">Order Custom Pizza</a>
                </div>
            </div>
        </div>
        <div th:each="pizza : ${specialtypizzas}">
            <div class="col mb-4">
                <div class="card h-100" style="width: 18rem;">
                    <img class="card-img-top vh-25" th:src="@{${pizza.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">[[${pizza.name}]]</h5>
                        <p class="card-text">[[${pizza.description}]]</p>
                        <a th:href="@{/orderSpecial/{id}(id=${pizza.id})}" class="btn btn-success">Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="components :: scripts"></div>
</body>
</html>