<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
    <h1>Craft your own or choose from the menu</h1>
    <a th:href="menu">Menu</a>
    <form action="#" th:action="@{/order}" th:object="${pizza}" method="post"></form>
    <form action="#" th:action="@{/order}" th:object="${pizza}" method="post">
        <input type="hidden" th:field="*{user}" th:value="${user}"/>
        <input type="hidden" th:field="*{id}"/>
        <ol>
            <li>Sauce: <input type="radio" id="tomato" th:field="*{sauce}" th:value="Classic Tomato"/>
                <label for="tomato">Classic Tomato</label>
                <input type="radio" id="bbq" th:field="*{sauce}" th:value="BBQ"/>
                <label for="bbq">BBQ</label>
                <input type="radio" id="alfredo" th:field="*{sauce}" th:value="Alfredo"/>
                <label for="alfredo">Alfredo</label>
                <span th:if="${#fields.hasErrors('sauce')}"
                      th:errors="*{sauce}"></span>
            </li>
            <li>
                Toppings:
                <div th:each="topping : ${alltoppings}">
                    <input type="checkbox" id="${topping.id}" th:field="*{toppings}" th:value="${topping.id}"/>
                    <label for="${topping.id}">[[${topping.name}]]</label>
                </div>
            </li>
        </ol>
        <input type="submit" value="Submit"/>

</form>

</body>
</html>