<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <div th:insert="components :: meta-links"></div>
    <title>PizzaPizza Order History</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

<div th:insert="components :: navbar"></div>

<h1>Order History</h1>


<div class="row">
    <div class="col-10">
        <div class=" mx-auto p-3 w-75">
            <input class="form-control myInput" type="text" placeholder="Search">
            <div class="card-body bg-secondary">
                <table>
                    <thead>
                    <tr>
                        <th scope="col" class="p-3">Date Ordered</th>
                        <th scope="col" class="p-3">Pizza Name</th>
                        <th scope="col" class="p-3">Price</th>
                    </tr>
                    </thead>
                    <tbody id="order-history-table">
                    <tr th:each="pizza : ${pizzaorderhistory}">
                        <td th:text="${pizza.date}" class="p-3"></td>
                        <td th:text="${pizza.name}" class="p-3"></td>
                        <td th:text="${pizza.price}" class="p-3"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>

<script>
    $(document).ready(function(){
        $(".myInput").on("keyup",function () {
            var value= $(this).val().toLowerCase();
            $("#order-history-table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value)>-1)
            });
        });
    });
</script>

<div th:insert="components :: scripts"></div>

</body>
</html>