<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <div th:insert="components :: meta-links"></div>

    <style th:inline="text">
        body {
            background: url([[@{https://images.pexels.com/photos/315755/pexels-photo-315755.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260}]])
                     no-repeat center center fixed;
            background-size: cover;
            height: 100%;
        }
    </style>

    <title>PizzaPizza Order</title>
</head>

<body class="pizza-bg">
<div th:insert="components :: navbar"></div>

<h1 class="text-dark text-center">Craft your own or choose from the specialty menu</h1>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
            <div class="card h-100" style="width: 18rem;">
            <form action="#" th:action="@{/processorder}" th:object="${pizza}" method="post"
                  class="vh-50 bg-white rounded">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{date}"/>
                <ol>
                    <li>
                        Pizza name:<br>
                        <input type="text" th:value="Custom" placeholder="Name your pizza" th:field="*{name}"/>
                        <span th:if="${#fields.hasErrors('name')}"
                              th:errors="*{name}"></span></li>
                    <li>Sauce: <input type="radio" id="tomato" th:field="*{sauce}" th:value="Tomato"/>
                        <label for="tomato">Classic Tomato</label>
                        <input type="radio" id="bbq" th:field="*{sauce}" th:value="BBQ"/>
                        <label for="bbq">BBQ</label>
                        <input type="radio" id="alfredo" th:field="*{sauce}" th:value="Alfredo"/>
                        <label for="alfredo">Alfredo</label>
                        <span th:if="${#fields.hasErrors('sauce')}"
                              th:errors="*{sauce}"></span>
                    </li>
                    <li>
                        Toppings:
                        <div th:each="topping : ${alltoppings}">
                            <div th:if="${topping.enabledForUser == true}">
                                <input type="checkbox" id="${topping.id}" th:field="*{toppings}" th:value="${topping.id}"/>
                                <label for="${topping.id}">[[${topping.name}]]</label>
                            </div>
                        </div>
                    </li>
                </ol>
                <br>
                <input type="submit" class="btn btn-success mx-auto" value="Place Custom Pizza Order">
            </form>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100" style="width: 18rem;">
                <img class="card-img-top vh-25" src="https://media.nbcsandiego.com/2019/09/Pieology-Pizzeria-FB.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Specialty Pizza</h5>
                    <p class="card-text">Choose from any one of our award winning specialty pizzas.</p>
                    <div th:each="pizza : ${specialtypizzas}">
                        <li>[[${pizza.name}]]</li>
                    </div>
                    <a th:href="@{/menu}" class="btn btn-success align-bottom">Order Specialty Pizza</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="components :: scripts"></div>
</body>
</html>